<section id="about" class="three">
    <div class="container">
        <header>
            <h2>About Me</h2>
        </header>
        <p>Experienced Python developer adept at building APIs and conducting web 
            scraping using Scrapy framework and Requests libraries within an agile 
            team environment. Actively involved in the development of new products 
            leveraging Spring Boot and several AWS services. Passionate about learning 
            new technologies and methodologies to enhance code quality and foster 
            collaborative team performance.

        <p>
            Beyond the realm of technology, my interests extend to the rich Japanese culture. Enthusiastic about
            language and cultural nuances, I am keen on immersing myself in the unique aspects that Japan offers. This
            multifaceted approach to both professional and cultural development underscores my commitment to lifelong
            learning and a holistic understanding of the ever-evolving tech landscape and diverse global perspectives.
        </p>

    </div>
</section>