<section id="portfolio" class="two">
    <div class="container">

        <header>
            <h2>Portfolio</h2>
        </header>


        <div class="row">
            {% for project in site.data.projects %}
            <div class="col-4 col-12-mobile">
                <article class="item">
                    <a href="{{project.link}}" class="image fit" target="_blank">
                        <header>
                            <h3>{{ project.name}}</h3>
                            <p>{{project.description | truncate: 300}}</p>
                        </header>
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>

    </div>
</section>