<ul class="icons">
    <li>
        <a href="http://www.github.com/{{site.github_username}}" class="icon brands fa-github" target="_blank"><span
                class="label">Github</span></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/rodrigosfelix/" class="icon brands fa-linkedin"
            target="_blank">
            <span class="label">LinkedIn </span>
        </a>
    </li>
    <li>
        <a href="mailto:{{site.email}}" class="icon solid fa-envelope" target="_blank"><span
                class="label">Email</span></a>
    </li>
</ul>